@page
@model Ofgem.Web.BUS.ExternalPortal.WebApp.Pages.Account.ExistingUserInvitationModel
@{
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @(Request.Query["InviteEmail"]) is already registered with B2C
    </h1>
</div>
