@page
@model Ofgem.Web.BUS.ExternalPortal.WebApp.Pages.Account.InvalidInvitationModel
@{
}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem with the invitation
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <p class="govuk-error-message">Invalid/Expired invitation link</p>
      </li>
    </ul>
  </div>
</div>
