@page
@model Ofgem.Web.BUS.ExternalPortal.WebApp.Pages.Account.UserSignedOutModel
@{
    ViewData["Title"] = "You have been signed out";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You have been signed out</h1>
        <p class="govuk-body">If this was not intended, you can <a href="/CustomIdentity/Account/SignIn?redirectUri=/sign-in-complete" class="govuk-link govuk-link--no-visited-state">sign back in to the Boiler Upgrade Scheme</a>.</p>
    </div>
</div>
