@page
@model InstallerApplicationRedeemModel
@{
    ViewData["PageId"] = "CD152";
    ViewData["Title"] = "Redeem a voucher";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Redeem a voucher</h1>
        <p class="govuk-body">Before you start, make sure you have:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>installed and commissioned the new heating system</li>
            <li>received an MCS installation certificate number</li>
        </ul>
        <p class="govuk-body">If you're ready to redeem the voucher, download and complete the <a href="https://www.ofgem.gov.uk/publications/boiler-upgrade-scheme-redemption-application-form" class="govuk-link govuk-link--no-visited-state">BUS voucher redemption form</a> on the Ofgem website.</p>
    </div>
</div>